{% extends 'categories/base.html' %}

{% block content %}
<div class="container">
<h2 class="text-center">{{ content.name }}</h2>

<video
 src="{{ content.material.url }}" width="100%" height="100%">
</video>
    <p>{{ res }}</p>

 {% for file in content.get_file_fields %}
        {% if file.field %}
           {{ file.label }}: {{ file.field}}
        {% endif %}
    <div src="{{ content.material.url }}"></div>
    {% endfor %}

 <object src="{{ content.material.url }}" type="application/pdf" width="50%" height="50%"></object>


</div>
<a type="button" href="{% url 'educational_modules:list' %}"
               class="btn btn-lg btn-block btn-outline-primary">Назад</a>

{% endblock %}